body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}

.main-content-section {
}

.about-me-section {
    /* background: rgb(145, 139, 67); */
}

.my-project-section {
    /* background: red; */
}

.my-work-experiance-section {
    /* background: blue; */
}

.education-section {
    /* background: green; */
}

/* side bad section */

.side-bar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts-section,
.tech-skill-section,
.soft-skills-section {
    margin: 50px 0 0 40px;
}

.sidebar-item-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}

/* Contact section */

.contact-section-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 5px;
}

.contact-section-value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* color: #565F6B; */
    color: white;
    opacity: 50%;
}

/* skills list */

.skills-list {
    padding: 0;
    padding-left: 17px;
}

.skill-item {
    color: #FB6D3A;
}

.skill-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
}